.packagesearch {
    height: 1.75rem;
    font-size: 1em;
    outline: none;
    padding: 10px;
    padding-left: 20px;
    background-color: transparent;
    border: 2px solid #3b3b3b;
    color: white;
    width: 50em;
    font-family: "Fira Code";
    border-radius: 12px;
  }
  .main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .autocompbox {
    background-color: #1b1b1b;
    padding: 10px 8px;
    max-height: 280px;
    overflow-x: none;
    width: 50em;
    overflow-y: auto;
    border: 2px solid #3b3b3b;
    box-shadow: 0 2px 6px 0 rgba(58, 59, 66, 0.37);
  }
  .main .autocompbox li {
    list-style: none;
    padding: 8px 12px;
    width: 95%;
    cursor: default;
    border-radius: 3px;
  }
  .main .autocompbox li:hover {
    background-color: #1b1b1b;
  }
  