.home {
  width: 100vw;
  height: 100vh;
}

.home .nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4em;
  background-color: #1b1b1b;
}

.home .nav .logo {
  margin-right: 7px;
  width: 9vh;
  height: 5vw;
}

.home .nav .section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .nav .section .links {
  color: #d5ded7;
  font-weight: 400;
  font-family: 'Montserrat';
  margin: 1rem;
}

.home .nav .section .contact_icon {
  width: 1.7rem;
  margin: 1rem;
  color: white;
}

.home .nav .title_text {
  font-weight: 600;
  color: #d5ded7;
  font-family: 'Montserrat';
}

.home .homemain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70%;
}
.home .homemain h2 {
  background: linear-gradient(180deg, #18ef7b, #039e8f);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2em;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
  font-family: 'Fira Code';
}

.home .homemain .search .packagesearch {
  height: 1.75rem;
  font-size: 1em;
  outline: none;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #3b3b3b;
  color: white;
  width: 50em;
  font-family: 'Fira Code';
  border-radius: 12px;
}

.home .homemain .search .popsearch {
  color: #0095f8;
  font-size: large;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-family: 'Fira Code';

  /* font-family: 'Montserrat'; */
}

.home .homemain .search .popsearch a {
  color: #0095f8;
  text-decoration: none;
}

.home .homemain .search :focus {
  border: #00a57c 2px solid;
}

.home .homemain .get_started_btn {
  height: 2.7rem;
  width: 13rem;
  font-size: 19px;
  font-weight: 400;
  background-color: #00926e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-family: 'Montserrat';  
}

.stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stat_info {
  text-align: center;
  color: #6d6f6e;
  font-family: 'Fira Code';
}

.stat_name {
  margin: 0px;
}

.stat_val {
  margin: 0px;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Fira Code';
  src: url('../../assets/fonts/FiraCode-Regular.ttf');
}